<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Wave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Size</ion-label>
      <ion-range min="0" max="1000" [(ngModel)]="size"></ion-range>
      <ion-input type="number" min="0" max="1000" [(ngModel)]="size"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Speed</ion-label>
      <ion-range min="0" max="1000" [(ngModel)]="speed"></ion-range>
      <ion-input type="number" min="0" max="1000" [(ngModel)]="speed"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Return</ion-label>
      <ion-range min="0" max="1000" [(ngModel)]="returnValue"></ion-range>
      <ion-input type="number" min="0" max="1000" [(ngModel)]="returnValue"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab vertical="end" horizontal="end">
    <ion-fab-button (click)="save()">
      <ion-icon icon="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
