ion-list {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  ion-item {
    flex: 1 1 auto;
    display: flex;

    .item-inner {
      margin-right: 0;
    }

    ion-button.settings {
      width: 30%;
      background-color: whitesmoke;
      ion-icon {
        text-align: center;
        font-size: 2rem;
      }
    }

    ion-button {
      height: 100%;
      width: 100%;
      ion-label {
        width: 100%;
        font-size: 1.3rem;
        color: black;
        text-align: start;
      }
    }

    ion-button.toggle {
      width: 70%;
    }
  }
}
