<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Patterns</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let pattern of patterns" (click)="toggle(pattern)">
            <ion-button fill="clear" class="toggle">
                <ion-label>{{pattern.text}}</ion-label>
            </ion-button>
            <ion-icon icon="settings" slot="end" color="primary" (click)="options(pattern)"></ion-icon>
        </ion-item>
        <ion-item (click)="stop()">
            <ion-button fill="clear">
                <ion-label>Stop</ion-label>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
