<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Patterns</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let pattern of patterns">
            <ion-button fill="clear" class="toggle" (click)="toggle(pattern)">
                <ion-label>{{pattern.text}}</ion-label>
            </ion-button>
            <ion-button fill="clear" class="settings" (click)="options(pattern)">
                <ion-icon icon="settings" slot="end" color="primary"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-button fill="clear" (click)="stop()">
                <ion-label>Stop</ion-label>
            </ion-button>
            <ion-button fill="clear" (click)="allOff()">
                <ion-label>All Off</ion-label>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
