<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="patterns"></ion-back-button>
        </ion-buttons>
        <ion-title>{{pattern.text}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="refresh($event.target)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <div *ngFor="let patternSetting of pattern.patternSettings">
            <app-pattern-settings-slider *ngIf="patternSetting.type =='slider'"
                                         [patternSetting]="patternSetting"></app-pattern-settings-slider>
            <app-pattern-settings-color *ngIf="patternSetting.type =='color'"
                                        [patternSetting]="patternSetting"></app-pattern-settings-color>
        </div>
    </ion-list>
    <ion-fab class="horizontal-ion-fab-list" horizontal="end" vertical="end">
        <ion-fab-button (click)="stop()" color="danger">
            <ion-icon icon="square"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="start()" color="success">
            <ion-icon icon="play"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
