<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngIf="selectCom">
            <ion-label>Com</ion-label>
            <ion-select (ionChange)="setCom()" [(ngModel)]="com">
                <ion-select-option value="ble">Bluetooth</ion-select-option>
                <ion-select-option value="http">Http</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="com === 'http' && selectCom" >
            <ion-label>Url</ion-label>
            <ion-text padding-start>{{httpPrefix}}</ion-text>
            <ion-input (ionChange)="setUrl()" [(ngModel)]="url" type="url" no-margin no-padding ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Com Ports</ion-label>
            <ion-select (ionChange)="setPort()" [(ngModel)]="portsInfo.selectedPort">
                <ion-select-option value="autoselect">Autoselect</ion-select-option>
                <ion-select-option *ngFor="let port of portsInfo.serialports"
                                   [value]="port.comName">{{port.comName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Number of LEDs</ion-label>
            <ion-input (change)="setNumberOfLeds()" [(ngModel)]="numberOfLeds" slot="end" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Neopixel Pin</ion-label>
            <ion-select (ionChange)="setPin()" [(ngModel)]="pin">
                <ion-select-option *ngFor="let pin of pins">{{pin}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>
